  
  button {
    margin: 20px;
    color: green;
    font-size: 30px;
  }
  
  /* div {
    display: flex;
    flex-direction: column;
    width: 350px;
  } */
  
  table {

    border-collapse: unset;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    white-space: nowrap;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  